/*
maps : un mapa en scss
nos permite crear una coleccion de 
valores identicos
*/

$colores:(

    color1 : rgb(76, 227, 53),
    color2: rgba(25, 25, 73, 0.737),
    color3: rgb(63, 82, 109),
    color4: yellow

);

$fuentes:(

    sm: 20px,
    md: 1.625rem,
    lg: 50px,
    sm-titulos: 38px,
    md-titulos:2.5rem,
    lg-titulos: 48px

)
;
