header{
    background-color: map-get($colores , color1 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        font-size: 30px;
        font-family: monospace;
        text-decoration: none;
        color: map-get($colores, color3 );
        font-size: map-get($fuentes, lg );
    }
}